<!DOCTYPE html>
<html>
  <head>
    <title>Hero Squad</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body style="background:url(https://wallpapercave.com/wp/wp1869962.jpg)">
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Hero Squad App</h3>
      </div>
      #parse( $template )
      <footer class="footer">
        <p>&copy; KokoCityWeb ltd 2019</p>
      </footer>
    </div>
  </body>
</html>
